div {
  text-align: center;
}

body {
  font-family: helvetica;
  letter-spacing: 2px;
  text-decoration: none;
  background-color: #DDDDDD;
  border: 0px 5px 5px 5px;
}

.button {border-color: #000000; border-width: 3px; padding: 3px;
  color: #00ffff; background-color: #ffff00; font-size: 27px;font-weight: 600;}

  .nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #3954C3;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
  }

  .nav li {
      float: left;
  }

  .nav li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  /* Hovered item darkens */
  li a:hover {
      background-color: #334BAF;
  }

  #logo {
    width:120px;
    background-color: #DDDDDD;
  }

  #content {
      positon: relative;
  }
  #content img {
  position: right top;
  width: 250px;
    top: 0px;
    right: 0px;
    z-index: -1;
}
nav {
  background-color: #3954C3;
  font-family: Garamond;
}
header {
  background-color: #FFFFFF;
}
h1 {
  border-radius: 10px;
  background-color: #B7DDFF;
}
button {
  background-color: #334BAF;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   }
body div p {
  font-size: 115%;
  letter-spacing: 1px;
}
.button {
  background-color: #3954C3;
}
.sidebyside {
  width: 30%;
  border-radius: 15px;
  padding: 5px;
}

li {
  font-size: 120%;
}

.food-table tr td {
  padding: 5px 5px 5px 5px;
}
